# Root-level
.env
.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore frontend build output
/frontend/build/

# Ignore frontend dependencies
/frontend/node_modules/

/frontend/.env

# Ignore VSCode settings
.vscode/

# Ignore backend dependencies
/backend/node_modules/

/backend/.env

# Logs and temp files
/backend/logs/
*.log
*.tmp

# OS-specific
Thumbs.db
ehthumbs.db
*.swp

# Optional: Ignore compiled files
/backend/dist/
